body {
    background-color: azure;
    margin: 0;
}

nav {
    background-color: bisque;
    display: flex;        
    min-height: 3.8rem;
}

footer {
    background-color: bisque;
    display: flex;        
    min-height: 3.8rem;
}

#nav-container {
    display: flex;    
    background-color: burlywood;        
    margin: 0 auto;
    max-width: 1152px;
    align-items: stretch;
    flex-grow: 1;
}

#nav-image #logo-temp {
    font-size: 3rem;
    padding: 0 0.5rem;
}
#nav-items-wrap {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
}

#nav-items {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}

#nav-items a {
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
}

section#main {
    margin: 5rem auto;
    max-width: 1000px;
    background-color: cornsilk;
}
